@page "/ConvertToForest"
@using BeamNG_LevelCleanUp.BlazorUI.Components
@using BeamNG_LevelCleanUp.Communication;
@using BeamNG_LevelCleanUp.Logic;
@using BeamNG_LevelCleanUp.Objects;
@using BeamNG_LevelCleanUp.Utils;
@using Microsoft.AspNetCore.Components.Forms;
@using System.IO.Compression;
@using static BeamNG_LevelCleanUp.Utils.TreeExtensions;
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<ErrorBoundary>
    <ChildContent>
        <div class="content">
            <h3>Convert static assets to forest items</h3>
            <MudExpansionPanels @ref="FileSelect">
                <MudExpansionPanel Text="@GetBeamInstallDir()" IsInitiallyExpanded="false">
                    <FileSelectComponent OnFileSelected="SetBeamInstallDir" SelectFolder="true"
                                         Description="The game install directory. If empty some features are missing.">
                    </FileSelectComponent>
                </MudExpansionPanel>
                <MudExpansionPanel Text="@GetFileSelectTitle()" IsInitiallyExpanded="true">
                    <FileSelectComponent OnFileSelected="FileSelected"
                                         Description="Always use a copy of your project."
                                         Disabled="@_fileSelectDisabled">
                    </FileSelectComponent>
                    @if (_vanillaLevels.Any())
                    {
                        <MudSelect T="FileInfo" ToStringFunc="@converter"
                                   ValueChanged="OnVanillaSourceSelected"
                                   Label="Or select a vanilla level" AnchorOrigin="Origin.BottomCenter" Variant="Variant.Outlined" Clearable>
                         @foreach (var item in _vanillaLevels)
                            {
                                <MudSelectItem Value="@(item)">@item.Name</MudSelectItem>
                            }
                        </MudSelect>
                    }
                </MudExpansionPanel>
            </MudExpansionPanels>
            @if (Items.Any())
            {
                <MudTreeView T="ITree<Asset>" Items="Items" Dense
                              MultiSelection="true" SelectedValuesChanged="OnSelectedValuesChanged">
                     <ItemTemplate Context="treeItemAsset">
                         <MudTreeViewItem Items="@treeItemAsset.Children" Value="@treeItemAsset"
                                          Text="@treeItemAsset.Data.Name" @bind-Expanded="@treeItemAsset.IsExpanded"
                         @bind-Selected="@treeItemAsset.IsSelected" />
                     </ItemTemplate>
                 </MudTreeView>
            }
            <MudDrawer @bind-Open="@_openDrawer" Width="@width" Height="@height" Anchor="@_anchor" Elevation="1" Variant="@DrawerVariant.Temporary">
                <MudList Clickable="true" Dense="true" DisableGutters="false">
                    @{
                        var list = _showErrorLog ? _errors : (_showWarningLog ? _warnings : _messages);
                        @foreach (var item in list)
                        {
                            <MudListItem @key="@Guid.NewGuid()" Style="border-bottom:1px solid grey">
                                <MudText Typo="Typo.h6">@item</MudText>
                            </MudListItem>
                        }
                    }
                </MudList>
            </MudDrawer>
        </div>
        <footer>
            @if (_itemCount > 0)
            {
                <MudText>Items: @_itemCount, Selected: @SelectedValues.Count()</MudText>
            }
            <MudStack Row="true" Justify="Justify.SpaceBetween">
                @if (_errors.Any())
                {
                    <MudButton Color="Color.Error" OnClick="@(() => OpenDrawer(Anchor.Bottom, PubSubMessageType.Error))">Errors</MudButton>
                }
                @if (_warnings.Any())
                {
                    <MudButton Color="Color.Warning" OnClick="@(() => OpenDrawer(Anchor.Bottom, PubSubMessageType.Warning))">Warnings</MudButton>
                }
                @if (_messages.Any())
                {
                    <MudButton Color="Color.Info" OnClick="@(() => OpenDrawer(Anchor.Bottom, PubSubMessageType.Info))">Messages</MudButton>
                }
                @if (SelectedValues.Any())
                {
                    <MudButton Color="Color.Primary" OnClick="@ConvertDialog">Convert to Forestitems</MudButton>
                }
                @if (_showDeployButton)
                {
                    <MudSelect Dense T="CompressionLevel" Label="Compression Level" AnchorOrigin="Origin.TopCenter"
                     @bind-Value="_compressionLevel">
                         <MudSelectItem T="CompressionLevel" Value="CompressionLevel.Fastest" />
                         <MudSelectItem T="CompressionLevel" Value="CompressionLevel.NoCompression" />
                         <MudSelectItem T="CompressionLevel" Value="CompressionLevel.Optimal" />
                         <MudSelectItem T="CompressionLevel" Value="CompressionLevel.SmallestSize" />
                     </MudSelect>
                    <MudButton @onclick="ZipAndDeploy" Color="Color.Primary">Build Zipfile</MudButton>
                }
            </MudStack>
            @if (!string.IsNullOrEmpty(ZipFileHandler.WorkingDirectory))
            {
                <MudButton @onclick="ZipFileHandler.OpenExplorer" StartIcon="@Icons.Material.Filled.FolderOpen" Variant="Variant.Text" Color="Color.Primary">Working Directory: @ZipFileHandler.WorkingDirectory</MudButton>
                <MudButton @onclick="ZipFileHandler.OpenExplorerLogs" StartIcon="@Icons.Material.Filled.FolderOpen" Variant="Variant.Text" Color="Color.Primary">Logfiles</MudButton>
            }
        </footer>
    </ChildContent>
    <ErrorContent>
        <CustomErrorContent />
    </ErrorContent>
</ErrorBoundary>

@code {

    private string _levelName { get; set; }
    private string _levelPath { get; set; }
    private string _beamLogFilePath { get; set; } = string.Empty;
    private List<string> _missingFiles { get; set; } = new List<string>();
    private List<string> _errors { get; set; } = new List<string>();
    private List<string> _warnings { get; set; } = new List<string>();
    private List<string> _messages { get; set; } = new List<string>();
    private Snackbar _staticSnackbar;
    private BeamFileReader Reader { get; set; }
    private string _fileSelectTitle = "Select your zipped level you want convert assets to forestitems";
    private bool _fileSelectDisabled { get; set; }
    private bool _fileSelectExpanded { get; set; }
    private bool _openDrawer;
    private Anchor _anchor;
    private string width, height;
    private List<GridFileListItem> BindingListDelete { get; set; } = new List<GridFileListItem>();
    private HashSet<GridFileListItem> _selectedItems = new HashSet<GridFileListItem>();
    private bool _fixed_Header = true;
    private MudExpansionPanels? FileSelect { get; set; }
    private string _searchString = string.Empty;
    private string _labelFileSummaryShrink { get; set; } = String.Empty;
    private bool _showDeployButton { get; set; }
    private CompressionLevel _compressionLevel { get; set; } = CompressionLevel.Optimal;
    bool _showErrorLog { get; set; }
    bool _showWarningLog { get; set; }
    private List<FileInfo> _vanillaLevels { get; set; } = new List<FileInfo>();
    private FileInfo _vanillaLevelSourceSelected { get; set; }
    private string _beamInstallDir { get; set; }
    public ITree<Asset> VirtualRootNode { get; set; } = default!;
    private HashSet<ITree<Asset>> Items { get; set; } = new HashSet<ITree<Asset>>();
    public List<Asset> SelectedValues { get; set; } = new List<Asset>();
    private int _itemCount { get; set; } = 0;

    protected async Task FileSelected(string file)
    {
        FileSelect?.CollapseAll();
        _labelFileSummaryShrink = string.Empty;
        _fileSelectDisabled = true;
        _levelName = null;
        _levelPath = null;
        _beamLogFilePath = null;
        _missingFiles = new List<string>();
        _errors = new List<string>();
        _warnings = new List<string>();
        _messages = new List<string>();
        _openDrawer = false;
        BindingListDelete = new List<GridFileListItem>();
        _showDeployButton = false;

        if (string.IsNullOrEmpty(ZipFileHandler.WorkingDirectory))
        {
            ZipFileHandler.WorkingDirectory = Path.GetDirectoryName(file);
        }

        await Task.Run(() =>
        {
            try
            {
                _staticSnackbar = Snackbar.Add("Unzipping level...", Severity.Normal, config =>
                {
                    config.VisibleStateDuration = int.MaxValue;
                });
                _levelPath = ZipFileHandler.ExtractToDirectory(Path.Join(ZipFileHandler.WorkingDirectory, Path.GetFileName(file)), "_unpacked");
                Snackbar.Add("Unzipping finished", Severity.Success);
                Snackbar.Remove(_staticSnackbar);
            }
            catch (Exception ex)
            {
                ShowException(ex);
                _fileSelectDisabled = false;
            }

        });

        await InitReaderAndTree();
        _fileSelectDisabled = false;
    }

    private async Task InitReaderAndTree()
    {
        _staticSnackbar = Snackbar.Add("Getting static items and build tree ...", Severity.Normal, config =>
        {
            config.VisibleStateDuration = int.MaxValue;
        });

        await Task.Run(() =>
           {
               Reader = new BeamFileReader(_levelPath, string.Empty);
               _levelName = Reader.GetLevelName();
               var assets = Reader.ReadForConvertToForest();
               InvokeAsync(() => BuildTreeView(assets));
           });
        Snackbar.Remove(_staticSnackbar);
    }

    protected void BuildTreeView(List<Asset> assets)
    {
        VirtualRootNode = assets.ToTree((parent, child) => child.__parent == parent.Name, new List<Asset>());
        Items = VirtualRootNode.Children;
        //Items = VirtualRootNode.Children.Where(_ => _.HasChildren == true).ToHashSet<ITree<Asset>>();
        _itemCount = assets.Count(_ => _.DaeExists == true);
        StateHasChanged();
    }

    protected void OnSelectedValuesChanged(HashSet<ITree<Asset>> values)
    {
        SelectedValues = values.Flatten(x => x.Children)
        .Select(_ => _.Data)
        .Where(_ => _.Class == "TSStatic")
        .Distinct()
        .ToList();

    }

    protected void SetBeamInstallDir(string file)
    {
        if (file != Steam.BeamInstallDir)
        {
            Steam.BeamInstallDir = file;
            GetVanillaLevels();
        }
    }

    protected string GetBeamInstallDir()
    {
        if (Steam.BeamInstallDir != _beamInstallDir)
        {
            _beamInstallDir = Steam.GetBeamInstallDir();
            GetVanillaLevels();
        }
        return "BeamNG install directory: " + _beamInstallDir;

    }

    Func<FileInfo, string> converter = p => p?.Name;

    protected async Task OnVanillaSourceSelected(FileInfo file)
    {
        //InitializeVariables();
        SetDefaultWorkingDirectory();
        _vanillaLevelSourceSelected = file;
        var target = Path.Join(ZipFileHandler.WorkingDirectory, _vanillaLevelSourceSelected.Name);
        PubSubChannel.SendMessage(PubSubMessageType.Info, $"Copy {_vanillaLevelSourceSelected.Name} to {target}");
        File.Copy(_vanillaLevelSourceSelected.FullName, target, true);
        _fileSelectDisabled = false;
        await FileSelected(target);
    }

    private void GetVanillaLevels()
    {
        if (!string.IsNullOrEmpty(_beamInstallDir))
        {
            var dir = Path.Join(Steam.BeamInstallDir, Constants.BeamMapPath);
            try
            {
                _vanillaLevels = Directory.GetFiles(dir).Select(x => new FileInfo(x)).ToList();
                StateHasChanged();
            }
            catch (Exception ex)
            {
            }
        }
    }

    public void SetDefaultWorkingDirectory()
    {
        if (string.IsNullOrEmpty(ZipFileHandler.WorkingDirectory) || _vanillaLevelSourceSelected != null)
        {
            ZipFileHandler.WorkingDirectory = Path.Join(Environment.GetFolderPath(Environment.SpecialFolder.UserProfile), "BeamNgMT");
            Directory.CreateDirectory(ZipFileHandler.WorkingDirectory);
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await CheckPreviousLevel();
        }
    }

    protected override void OnInitialized()
    {
        var consumer = Task.Run(async () =>
        {
            while (!StaticVariables.ApplicationExitRequest && await PubSubChannel.ch.Reader.WaitToReadAsync())
            {
                var msg = await PubSubChannel.ch.Reader.ReadAsync();
                if (!_messages.Contains(msg.Message) && !_errors.Contains(msg.Message))
                {
                    switch (msg.MessageType)
                    {
                        case PubSubMessageType.Info:
                            _messages.Add(msg.Message);
                            Snackbar.Add(msg.Message, Severity.Info);
                            break;
                        case PubSubMessageType.Warning:
                            _warnings.Add(msg.Message);
                            Snackbar.Add(msg.Message, Severity.Warning);
                            break;

                        case PubSubMessageType.Error:
                            _errors.Add(msg.Message);
                            Snackbar.Add(msg.Message, Severity.Error);
                            break;
                    }
                }
            }
        });
    }

    async Task CheckPreviousLevel()
    {
        var bfr = new BeamFileReader();
        _levelName = bfr.GetLevelName();
        _levelPath = bfr.GetLevelPath();
        if (!string.IsNullOrEmpty(_levelName) && !string.IsNullOrEmpty(_levelPath))
        {
            _staticSnackbar
                = Snackbar.Add($"The level {_levelName} is still loaded. You can either use it now or load another level for conversion.",
                Severity.Info);
            await UseLoadedLevelDialog();
        }
        else
        {
            _fileSelectExpanded = true;
        }
    }

    void OpenDrawer(Anchor anchor, PubSubMessageType msgType)
    {
        _showErrorLog = msgType == PubSubMessageType.Error;
        _showWarningLog = msgType == PubSubMessageType.Warning;
        _openDrawer = true;
        this._anchor = anchor;

        switch (anchor)
        {
            case Anchor.Start:
                width = "300px";
                height = "100%";
                break;
            case Anchor.End:
                width = "400px";
                height = "100%";
                break;
            case Anchor.Bottom:
                width = "100%";
                height = "200px";
                break;
            case Anchor.Top:
                width = "100%";
                height = "350px";
                break;
        }
    }

    private void ShowException(Exception ex)
    {
        var message = ex.InnerException != null ? ex.Message + $" {ex.InnerException}" : ex.Message;
        Snackbar.Add(message, Severity.Error);
        _errors.Add(message);

    }

    private string GetFileSelectTitle()
    {
        if (!string.IsNullOrEmpty(_levelName))
        {
            return $"{_fileSelectTitle} > {_levelName}";
        }
        else
        {
            return $"{_fileSelectTitle}";
        }
    }

    private async Task ConvertDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Do you really want to convert the selected static assets to forest items? Please always use a copy of your project with this tool!");
        parameters.Add("ButtonText", "Convert to forest items");
        parameters.Add("Color", Color.Warning);
        var dialog = await DialogService.ShowAsync<SimpleDialog>("Convert assets", parameters, options);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            _staticSnackbar = Snackbar.Add("Converting to forest items...", Severity.Normal, config =>
            {
                config.VisibleStateDuration = int.MaxValue;
            });
            try
            {
                await Task.Run(() =>
                {
                    Reader.ConvertToForest(SelectedValues);
                });
            }
            catch (Exception ex)
            {
                Snackbar.Remove(_staticSnackbar);
                ShowException(ex);
            }
            Snackbar.Remove(_staticSnackbar);
            await DeleteDialog();
            _showDeployButton = true;
            SelectedValues.Clear();
            Items.Clear();
            PubSubChannel.SendMessage(PubSubMessageType.Info, $"Conversion done! You can build your deployment file now.");
        }
    }

    private async Task DeleteDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Do you want to to delete the static assets from the missiongroups? If not you have the assets duplicated. One in the tree and one as forestitem.");
        parameters.Add("ButtonText", "Delete from Missiongroups");
        parameters.Add("Color", Color.Warning);
        var dialog = await DialogService.ShowAsync<SimpleDialog>("Delete assets from Missiongroups", parameters, options);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            try
            {
                await Task.Run(() =>
                {
                    Reader.DeleteFromMissiongroups(SelectedValues);
                });
            }
            catch (Exception ex)
            {
                ShowException(ex);
            }
        }
    }

    private async Task UseLoadedLevelDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var parameters = new DialogParameters();
        parameters.Add("ContentText", $"The level {_levelName} is already loaded from a previous task. Do you want to use it for the conversion of assets to forestitems?");
        parameters.Add("ButtonText", "Yes");
        parameters.Add("Color", Color.Default);
        var dialog = await DialogService.ShowAsync<SimpleDialog>("Use loaded level for conversion", parameters, options);
        var result = await dialog.Result;
        dialog.Close();
        if (!result.Canceled)
        {
            try
            {
                await InitReaderAndTree();
            }
            catch (Exception ex)
            {
                ShowException(ex);
            }
        }
    }


    private async Task ZipAndDeploy()
    {
        var path = string.Empty;
        if (!string.IsNullOrEmpty(_levelPath))
        {
            try
            {
                path = ZipFileHandler.GetLastUnpackedPath();
                _staticSnackbar = Snackbar.Add($"Zipping the deployment file. Please be patient.", Severity.Normal, config =>
                {
                    config.VisibleStateDuration = int.MaxValue;
                });
                await Task.Run(() =>
                {
                    ZipFileHandler.BuildDeploymentFile(path, _levelName, _compressionLevel);
                });
                Snackbar.Remove(_staticSnackbar);
            }
            catch (Exception ex)
            {
                ShowException(ex);
            }
        }
    }
}

