@page "/CopyAssets"

@using BeamNG_LevelCleanUp.BlazorUI.Components
@using BeamNG_LevelCleanUp.Communication;
@using BeamNG_LevelCleanUp.Logic;
@using BeamNG_LevelCleanUp.Objects;
@using BeamNG_LevelCleanUp.Utils;
@using Microsoft.AspNetCore.Components.Forms;
@using System.IO.Compression;
@using System.Diagnostics.CodeAnalysis;
@using System.Reflection;
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<ErrorBoundary>
    <ChildContent>
        <div class="content">
            <h3>Copy Assets</h3>
            <MudExpansionPanels @ref="FileSelect">
                <MudExpansionPanel Text="@GetBeamInstallDir()" IsInitiallyExpanded="false">
                    <FileSelectComponent OnFileSelected="SetBeamInstallDir" SelectFolder="true"
                                         Description="The game install directory. If empty some features are missing.">
                    </FileSelectComponent>
                </MudExpansionPanel>
                <MudExpansionPanel Text="@GetFileSelectTitleCopyFrom()" IsInitiallyExpanded="true">
                    <FileSelectComponent OnFileSelected="FileSelectedCopyFrom"
                                         Description="Your asset source map"
                                         Disabled="@_fileSelectDisabled">
                    </FileSelectComponent>
                    @if (_vanillaLevels.Any())
                    {
                        <MudSelect T="FileInfo" ToStringFunc="@converter"
                               ValueChanged="OnVanillaSourceSelected"
                               Label="Or select a vanilla level" AnchorOrigin="Origin.BottomCenter" Variant="Variant.Outlined" Clearable>
                        @foreach (var item in _vanillaLevels)
                            {
                                <MudSelectItem Value="@(item)">@item.Name</MudSelectItem>
                            }
                        </MudSelect>
                    }
                </MudExpansionPanel>
                <MudExpansionPanel Text="@GetFileSelectTitle()" IsInitiallyExpanded="false">
                    <FileSelectComponent OnFileSelected="FileSelected"
                                         Description="Your asset target map"
                                         Disabled="@_fileSelectDisabled">
                    </FileSelectComponent>
                    @if (_vanillaLevels.Any())
                    {
                        <MudSelect T="FileInfo" ToStringFunc="@converter" Disabled="@_fileSelectDisabled"
                               ValueChanged="OnVanillaTargetSelected"
                               Label="Or select a vanilla level" AnchorOrigin="Origin.BottomCenter" Variant="Variant.Outlined" Clearable>
                        @foreach (var item in _vanillaLevels)
                            {
                                <MudSelectItem Value="@(item)">@item.Name</MudSelectItem>
                            }
                        </MudSelect>
                    }
                </MudExpansionPanel>
            </MudExpansionPanels>

            @if (BindingListCopy.Any())
            {
                <MudTable T="GridFileListItem" Items="@BindingListCopy" Hover="true"
                      MultiSelection="true" @bind-SelectedItems="_selectedItems"
                      @bind-Value="_searchString"
                      Filter="new Func<GridFileListItem,bool>(FilterFunc1)">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Found Assets in @_levelNameCopyFrom</MudText>
                        <MudSpacer />
                        <MudTextField DebounceInterval="300" Clearable @bind-Value="_searchString" Immediate="true" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh>View</MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<GridFileListItem, object>(x=>x.AssetType)">Assettype</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<GridFileListItem, object>(x=>x.FullName)">File</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<GridFileListItem, object>(x=>x.Duplicate)">Duplicate</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<GridFileListItem, object>(x=>x.DuplicateFrom)">Duplicate found in</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<GridFileListItem, object>(x=>x.SizeMb)">Size Mb</MudTableSortLabel></MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd><MudIconButton Icon="@Icons.Material.Filled.Pageview" OnClick="() => OpenAssetViewer(context)"></MudIconButton></MudTd>
                        <MudTd DataLabel="File">@context.AssetType</MudTd>
                        <MudTd DataLabel="File">@context.FullName</MudTd>
                        <MudTd DataLabel="File">@context.Duplicate</MudTd>
                        <MudTd DataLabel="File">@context.DuplicateFrom</MudTd>
                        <MudTd DataLabel="Size">@context.SizeMb</MudTd>
                    </RowTemplate>
                </MudTable>
            }
            else if (!string.IsNullOrEmpty(_levelPath) && !_errors.Any())
            {
                <MudText Color="Color.Warning">No assets found.</MudText>
            }

            <MudDrawer @bind-Open="@_openDrawer" Width="@width" Height="@height" Anchor="@_anchor" Elevation="1" Variant="@DrawerVariant.Temporary">
                <MudList Clickable="true" Dense="true" DisableGutters="false">
                    @{
                        var list = _showErrorLog ? _errors : _messages;
                        @foreach (var item in list)
                        {
                            <MudListItem @key="@Guid.NewGuid()" Style="border-bottom:1px solid grey">
                                <MudText Typo="Typo.h6">@item</MudText>
                            </MudListItem>
                        }
                    }
                </MudList>
            </MudDrawer>
        </div>
        <footer>
            @if (_selectedItems.Any())
            {
                <MudText>Files: @BindingListCopy?.Count, Selected: @_selectedItems.Count(), Sum Size MB: @Math.Round(_selectedItems.Sum(x => x.SizeMb), 2)</MudText>
            }
            <MudStack Row="true" Justify="Justify.SpaceEvenly">
                @if (_selectedItems.Any())
                {
                    <MudButton @onclick="CopyDialog" Color="Color.Primary">Copy Assets</MudButton>
                }
                @if (_errors.Any())
                {
                    <MudButton Color="Color.Error" OnClick="@(() => OpenDrawer(Anchor.Bottom, true))">Errors</MudButton>
                }
                @if (_messages.Any())
                {
                    <MudButton Color="Color.Info" OnClick="@(() => OpenDrawer(Anchor.Bottom, false))">Messages</MudButton>
                }
                @if (_showDeployButton)
                {
                    <MudSelect Dense T="CompressionLevel" Label="Compression Level" AnchorOrigin="Origin.TopCenter"
                           @bind-Value="_compressionLevel">
                    <MudSelectItem T="CompressionLevel" Value="CompressionLevel.Fastest" />
                    <MudSelectItem T="CompressionLevel" Value="CompressionLevel.NoCompression" />
                    <MudSelectItem T="CompressionLevel" Value="CompressionLevel.Optimal" />
                    <MudSelectItem T="CompressionLevel" Value="CompressionLevel.SmallestSize" />
                    </MudSelect>
                    <MudButton @onclick="ZipAndDeploy" Color="Color.Primary">Build Zipfile</MudButton>
                }
            </MudStack>
            @if (!string.IsNullOrEmpty(ZipFileHandler.WorkingDirectory))
            {
                <MudButton @onclick="ZipFileHandler.OpenExplorer" StartIcon="@Icons.Material.Filled.FolderOpen" Variant="Variant.Text" Color="Color.Primary">Working Directory: @ZipFileHandler.WorkingDirectory</MudButton>
            }
        </footer>
    </ChildContent>
    <ErrorContent>
        <CustomErrorContent />
    </ErrorContent>
</ErrorBoundary>

@code {
    private string _levelName { get; set; }
    private string _levelPath { get; set; }
    private string _levelNameCopyFrom { get; set; }
    private string _levelPathCopyFrom { get; set; }
    private string _beamLogFilePath { get; set; } = string.Empty;
    private List<string> _missingFiles { get; set; } = new List<string>();
    private List<string> _errors { get; set; } = new List<string>();
    private List<string> _messages { get; set; } = new List<string>();
    private Snackbar _unzipSnackbar;
    private Snackbar _unzipSnackbarCopyFrom;
    private BeamFileReader Reader { get; set; }
    private string _fileSelectTitleCopyFrom = "Select the zipped source level you want to copy from";
    private string _fileSelectTitle = "Select the zipped target level you want to copy to";
    private bool _fileSelectDisabled { get; set; }
    private bool _fileSelectExpanded { get; set; }
    private bool _openDrawer;
    private Anchor _anchor;
    private string width, height;
    private List<GridFileListItem> BindingListCopy { get; set; } = new List<GridFileListItem>();
    private HashSet<GridFileListItem> _selectedItems = new HashSet<GridFileListItem>();
    private bool _fixed_Header = true;
    [AllowNull]
    private MudExpansionPanels FileSelect { get; set; }
    private string _searchString = string.Empty;
    private string _labelFileSummaryShrink { get; set; } = String.Empty;
    private bool _showDeployButton { get; set; }
    private CompressionLevel _compressionLevel { get; set; } = CompressionLevel.Optimal;
    bool _showErrorLog { get; set; }
    private List<FileInfo> _vanillaLevels { get; set; } = new List<FileInfo>();
    private FileInfo _vanillaLevelSourceSelected { get; set; }
    private FileInfo _vanillaLevelTargetSelected { get; set; }
    private string _beamInstallDir { get; set; }

    protected void InitializeVariables()

    {
        FileSelect.CollapseAll();
        _labelFileSummaryShrink = string.Empty;
        _fileSelectDisabled = true;
        _levelName = null;
        _levelNameCopyFrom = null;
        _levelPath = null;
        _levelPathCopyFrom = null;
        _beamLogFilePath = null;
        _errors = new List<string>();
        _messages = new List<string>();
        _openDrawer = false;
        BindingListCopy = new List<GridFileListItem>();
        _showDeployButton = false;
        _vanillaLevelSourceSelected = null;
        _vanillaLevelTargetSelected = null;
        ZipFileHandler.WorkingDirectory = null;
    }

    protected async Task FileSelectedCopyFrom(string file)
    {
        InitializeVariables();
        ZipFileHandler.WorkingDirectory = Path.GetDirectoryName(file);
        await Task.Run(() =>
        {
            try
            {
                _unzipSnackbarCopyFrom = Snackbar.Add("Unzipping source level...", Severity.Normal, config =>
                    {
                        config.VisibleStateDuration = int.MaxValue;
                    });
                _levelPathCopyFrom = ZipFileHandler.ExtractToDirectory(Path.Join(ZipFileHandler.WorkingDirectory, Path.GetFileName(file)), "_copyFrom");
                //ACHTUNG CONCURRENCY
                Reader = new BeamFileReader(_levelPathCopyFrom, null);
                _levelNameCopyFrom = Reader.GetLevelName();
                Snackbar.Add("Unzipping source level finished", Severity.Success);
                Snackbar.Remove(_unzipSnackbarCopyFrom);
            }
            catch (Exception ex)
            {
                ShowException(ex);
                _fileSelectDisabled = false;
            }

        });
        //await AnalyzeLevel();
        _fileSelectDisabled = false;
    }

    protected async Task OnVanillaSourceSelected(FileInfo file)
    {
        InitializeVariables();
        SetDefaultWorkingDirectory();
        _vanillaLevelSourceSelected = file;
        var target = Path.Join(ZipFileHandler.WorkingDirectory, _vanillaLevelSourceSelected.Name);
        PubSubChannel.SendMessage(false, $"Copy {_vanillaLevelSourceSelected.Name} to {target}");
        File.Copy(_vanillaLevelSourceSelected.FullName, target, true);
        _fileSelectDisabled = false;
        await FileSelectedCopyFrom(target);
    }

    protected async Task OnVanillaTargetSelected(FileInfo file)
    {
        SetDefaultWorkingDirectory();
        _vanillaLevelTargetSelected = file;
        var target = Path.Join(ZipFileHandler.WorkingDirectory, _vanillaLevelTargetSelected.Name);
        PubSubChannel.SendMessage(false, $"Copy {_vanillaLevelTargetSelected.Name} to {target}");
        File.Copy(_vanillaLevelTargetSelected.FullName, target, true);
        await FileSelected(target);
    }

    protected async Task FileSelected(string file)
    {
        if (string.IsNullOrEmpty(ZipFileHandler.WorkingDirectory))
        {
            ZipFileHandler.WorkingDirectory = Path.GetDirectoryName(file);
        }
        await Task.Run(() =>
        {
            try
            {
                _unzipSnackbar = Snackbar.Add("Unzipping target level...", Severity.Normal, config =>
                    {
                        config.VisibleStateDuration = int.MaxValue;
                    });
                _levelPath = ZipFileHandler.ExtractToDirectory(Path.Join(ZipFileHandler.WorkingDirectory, Path.GetFileName(file)), "_unpacked");
                //ACHTUNG CONCURRENCY
                Reader = new BeamFileReader(_levelPath, null);
                _levelName = Reader.GetLevelName();
                Snackbar.Add("Unzipping target level finished", Severity.Success);
                Snackbar.Remove(_unzipSnackbar);
            }
            catch (Exception ex)
            {
                ShowException(ex);
                _fileSelectDisabled = false;
            }

        });
        await ScanAssets();
        _fileSelectDisabled = false;
    }

    protected void SetBeamInstallDir(string file)
    {
        if (file != Steam.BeamInstallDir)
        {
            Steam.BeamInstallDir = file;
            GetVanillaLevels();
        }
    }

    protected string GetBeamInstallDir()
    {
        if (Steam.BeamInstallDir != _beamInstallDir)
        {
            _beamInstallDir = Steam.GetBeamInstallDir();
            GetVanillaLevels();
        }
        return "BeamNG install directory: " + _beamInstallDir;

    }

    protected async Task ScanAssets()
    {
        _fileSelectDisabled = true;
        await Task.Run(() =>
        {
            try
            {
                Reader = new BeamFileReader(_levelPath, null, _levelPathCopyFrom);
                Reader.ReadAllForCopy();
            }
            catch (Exception ex)
            {
                ShowException(ex);
                _fileSelectDisabled = false;
            }
        });
        FillCopyList();
        PubSubChannel.SendMessage(false, $"Done! Scanning Assets finished. Please selects assets to copy.");
        _fileSelectDisabled = false;
    }

    protected override void OnInitialized()
    {
        _fileSelectExpanded = true;
        var consumer = Task.Run(async () =>
        {
            while (!StaticVariables.ApplicationExitRequest && await PubSubChannel.ch.Reader.WaitToReadAsync())
            {
                var msg = await PubSubChannel.ch.Reader.ReadAsync();
                if (!msg.IsError)
                {
                    Snackbar.Add(msg.Message, Severity.Info);
                    _messages.Add(msg.Message);
                }
                else
                {
                    Snackbar.Add(msg.Message, Severity.Error, config =>
                    {
                        config.VisibleStateDuration = 30;
                    });
                    _errors.Add(msg.Message);
                }
                //Thread.Sleep(TimeSpan.FromSeconds(1));
            }
        });
    }

    void OpenDrawer(Anchor anchor, bool isError)
    {
        _showErrorLog = isError;
        _openDrawer = true;
        this._anchor = anchor;

        switch (anchor)
        {
            case Anchor.Start:
                width = "300px";
                height = "100%";
                break;
            case Anchor.End:
                width = "400px";
                height = "100%";
                break;
            case Anchor.Bottom:
                width = "100%";
                height = "200px";
                break;
            case Anchor.Top:
                width = "100%";
                height = "350px";
                break;
        }
    }

    private void ShowException(Exception ex)
    {
        var message = ex.InnerException != null ? ex.Message + $" {ex.InnerException}" : ex.Message;
        Snackbar.Add(message, Severity.Error);
        _errors.Add(message);

    }

    private void FillCopyList()
    {
        foreach (var asset in Reader.GetCopyList())
        {
            //switch type
            var item = new GridFileListItem
                {
                    Identifier = asset.Identifier,
                    AssetType = asset.CopyAssetType.ToString(),
                    FullName = asset.Name,
                    SizeMb = asset.SizeMb,
                    Duplicate = asset.Duplicate,
                    DuplicateFrom = asset.DuplicateFrom,
                    CopyAsset = asset
                };
            BindingListCopy.Add(item);
        }
    }

    private string GetFileSelectTitle()
    {
        if (!string.IsNullOrEmpty(_levelName))
        {
            return $"{_fileSelectTitle} > {_levelName}";
        }
        else
        {
            return $"{_fileSelectTitle}";
        }
    }

    private string GetFileSelectTitleCopyFrom()
    {
        if (!string.IsNullOrEmpty(_levelNameCopyFrom))
        {
            return $"{_fileSelectTitleCopyFrom} > {_levelNameCopyFrom}";
        }
        else
        {
            return $"{_fileSelectTitleCopyFrom}";
        }
    }

    private bool FilterFunc1(GridFileListItem element) => FilterFunc(element, _searchString);

    private bool FilterFunc(GridFileListItem element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.FullName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.AssetType.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.SizeMb.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        //if ($"{element.Number} {element.Position} {element.Molar}".Contains(searchString))
        //    return true;
        return false;
    }

    private async Task CopyDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Do you really want to copy these assets? This process cannot be undone. Please always use a copy of your project with this tool!");
        parameters.Add("ButtonText", "Copy");
        parameters.Add("Color", Color.Error);
        var dialog = await DialogService.ShowAsync<SimpleDialog>("Copy Assets", parameters, options);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            PubSubChannel.SendMessage(false, $"Assets are copied now. Please be patient.");
            var selected = _selectedItems.Select(y => y.Identifier).ToList();
            Reader.DoCopyAssets(selected);
            //BindingListCopy.RemoveAll(x => selected.Contains(x.Identifier));
            _showDeployButton = true;
        }
    }

    private async Task ZipAndDeploy()
    {
        var path = string.Empty;
        if (!string.IsNullOrEmpty(_levelPath))
        {
            try
            {
                path = ZipFileHandler.GetLastUnpackedPath();
                PubSubChannel.SendMessage(false, $"Zipping the deployment file. Please be patient. Path: {path}");
                await Task.Run(() =>
                {
                    ZipFileHandler.BuildDeploymentFile(path, _levelName, _compressionLevel);
                });
            }
            catch (Exception ex)
            {
                ShowException(ex);
            }
        }
    }

    private void OpenAssetViewer(GridFileListItem context)
    {
        var dialogOptions = new DialogOptions() { FullScreen = true, CloseButton = true };
        var parameters = new DialogParameters();
        parameters.Add("CopyAsset", context.CopyAsset);
        var dialog = DialogService.Show<AssetViewer>($"Asset Preview: {context.FullName}", parameters, dialogOptions);
    }

    private void GetVanillaLevels()
    {
        var dir = Path.Join(Steam.BeamInstallDir, Constants.BeamMapPath);
        _vanillaLevels = Directory.GetFiles(dir).Select(x => new FileInfo(x)).ToList();
        StateHasChanged();
    }

    Func<FileInfo, string> converter = p => p?.Name;

    public static DirectoryInfo GetExecutingDirectory()
    {
        var location = new Uri(Assembly.GetEntryAssembly().GetName().CodeBase);
        return new FileInfo(location.AbsolutePath).Directory;
    }

    public void SetDefaultWorkingDirectory()
    {
        if (string.IsNullOrEmpty(ZipFileHandler.WorkingDirectory) || (_vanillaLevelSourceSelected != null && _vanillaLevelTargetSelected != null))
        {
            ZipFileHandler.WorkingDirectory = Path.Join(Environment.GetFolderPath(Environment.SpecialFolder.UserProfile), "BeamNgMT");
            Directory.CreateDirectory(ZipFileHandler.WorkingDirectory);
        }
    }
}
