@using System.Reflection;
@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" @ref="@_mudThemeProvider" Theme="MyCustomTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        <MudIconButton Style="min-width:200px;" Icon="@Icons.Material.Filled.Menu" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText> @GetAppTitle() </MudText>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        <div class="sidebar">
            <MudSwitch @bind-Checked="@_isDarkMode" Color="Color.Primary" Class="ma-4" T="bool" Label="Light/Dark Mode"/>
            <MyNavMenu />
        </div>
    </MudDrawer>
    <MudMainContent Class="main">
        <MudContainer>
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>
@code {
    private MudThemeProvider _mudThemeProvider;
    private bool _isDarkMode;
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private string GetAppTitle()
    {
        Version version = Assembly.GetExecutingAssembly().GetName().Version;
        var name = "BeamNG Tools for Mapbuilders - version";
        return $"{name} {version.Major}.{version.Minor}.{version.Build}";
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isDarkMode = true; //await _mudThemeProvider.GetSystemPreference();
            StateHasChanged();
        }
    }

    MudTheme MyCustomTheme = new MudTheme()
        {
            Palette = new Palette()
            {
                Primary = Colors.Orange.Default,
                Secondary = Colors.Brown.Lighten1,
                AppbarBackground = Colors.Orange.Default,
                ActionDefault = Colors.Orange.Default,
            },
            PaletteDark = new PaletteDark()
            {
                Primary = Colors.Orange.Default,
                Secondary = Colors.Brown.Lighten1,
                AppbarBackground = Colors.Orange.Default,
                ActionDefault = Colors.Orange.Default,
            },

            LayoutProperties = new LayoutProperties()
            {
                DrawerWidthLeft = "260px",
                DrawerWidthRight = "300px"
            }
        };
}