@using System.Reflection
@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" @ref="@_mudThemeProvider" Theme="MyCustomTheme"/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar>
        <MudIconButton Style="min-width:200px;" Icon="@Icons.Material.Filled.Menu" Color="Color.Dark" Edge="Edge.Start" OnClick="@(e => DrawerToggle())"/>
        <MudText Color="Color.Dark"> @GetAppTitle() </MudText>
    </MudAppBar>
    <MudDrawer Open="_drawerOpen" Breakpoint="Breakpoint.Xs">
        <div class="sidebar">
            <MudSwitch @bind-Checked="@_isDarkMode" Color="Color.Primary" Class="ma-4" T="bool" Label="Light/Dark Mode"/>
            <MyNavMenu/>
        </div>
    </MudDrawer>
    <MudMainContent Class="main">
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    private MudThemeProvider _mudThemeProvider;
    private bool _isDarkMode;
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private string GetAppTitle()
    {
        var version = Assembly.GetExecutingAssembly().GetName().Version;
        var name = "BeamNG Mapping Tools - version";
        return $"{name} {version.Major}.{version.Minor}.{version.Build}";
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isDarkMode = true; //await _mudThemeProvider.GetSystemPreference();
            StateHasChanged();
        }
    }

    readonly MudTheme MyCustomTheme = new()
    {
        PaletteLight = new PaletteLight
        {
            Primary = Colors.Orange.Default,
            Secondary = Colors.Brown.Lighten1,
            AppbarBackground = Colors.Orange.Default,
            ActionDefault = Colors.Orange.Default
        },
        PaletteDark = new PaletteDark
        {
            Primary = Colors.Orange.Default,
            Secondary = Colors.Brown.Lighten1,
            AppbarBackground = Colors.Orange.Default,
            ActionDefault = Colors.Orange.Default
        },

        LayoutProperties = new LayoutProperties
        {
            DrawerWidthLeft = "260px",
            DrawerWidthRight = "300px"
        }
    };

}